header{
	background-color:#2c3e50;
	color:#fff;
}



.main{
	background-color:#f2f2f2;
}

.color2{
	background:#103A4B;
	color:#8193F8;

}

.color1{
background:#4495A5;
	color:#363E69;

}
.color3{
	background: #006ee3 ;
	color:#8193F8;

}

.contenedoring{
	text-align:left;
	padding-top: 67px;
    padding-left: 45px;
    padding-right: 45px;
    font: bold 15px verdana;
    padding-bottom: 11px;

}
.contenedorlic{
	padding-bottom: 11px;
	text-align: right;
padding-left: 45px;
    padding-right: 45px;
padding-top: 60px;
    font: bold 15px verdana;	

}

aside{
	

}

footer{

	background: #16a085;
	color:#fff;
	height: 
}


*{
	padding:0;
	margin:0;


}

#menu ul a{

	color:#2FD6CE;
	text-decoration:none;
	font: bold 16px verdana;
	padding:15PX;
	transition:border-bottom .7s;
}

#menu ul a:hover{
	border-bottom:5px solid #6e6e6e;
}

.textoo{

text-align:justify;



}

.centrartexto{

text-align:center;	
}

a{
	color:#2FD6CE;
	
	font: bold 20px verdana;
}
h2{
	color:#17204E;

	
}
